<!DOCTYPE html>
<html ng-app="ContactApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="script/angular.min.js"></script>
    <script src="script/contact_app_controller"></script>
    <title>Contact list</title>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">I love Angular and Laravel</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="index.html">Add new contact</a>
                </li>
                <li>
                    <a href="#">Read contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <section class="container">
            <div class="container-page">
                <div class="col-md-4">
                    <h3 class="dark-grey">Registration</h3>

                    <div class="form-group col-lg-12">
                        <label>Name:</label>
                        <input type="text" name="" class="form-control" id="" value="" ng-model="name" placeholder="Your name">
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Surname:</label>
                        <input type="text" name="" class="form-control" id="" value="" ng-model="surname" placeholder="Your surname">
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Telephone number:</label>
                        <input type="number" name="" class="form-control" id="" value="" ng-model="phone" placeholder="+380XXXXXXXX">
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Birth day:</label>
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='date' class="form-control" ng-model="bday" placeholder="XX.XX.XXXX" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            $('#datetimepicker2').datetimepicker({
                                locale: 'ru'
                            });
                        });
                    </script>

                    <div class="form-group col-lg-12">
                        <label>Basic info:</label>
                        <textarea class="form-control" rows="7" id="basic-info" ng-model="basicInfo" placeholder="Something about you"></textarea>
                    </div>

                    <div class="form-group col-lg-12">
                        <button type="submit" class="btn btn-success col-lg-12" id="add-button">Add contact</button>
                    </div>

                </div>

                <div class="col-md-8">
                    <h3 class="dark-grey">Contact list</h3>
                    <table class="table table-striped table-condensed" ng-controller="ContactAppController">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Phone</th>
                                <th>Birth day</th>
                                <th>Basic info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>234239485</td>
                                <td>02.02.1978</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>Mary</td>
                                <td>Moe</td>
                                <td>2349238942</td>
                                <td>02.02.1978</td>
                                <td>Lorem ipsum </td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>234239485</td>
                                <td>02.02.1978</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>234239485</td>
                                <td>02.02.1978</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>234239485</td>
                                <td>02.02.1978</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>Mary</td>
                                <td>Moe</td>
                                <td>2349238942</td>
                                <td>02.02.1978</td>
                                <td>Lorem ipsum </td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>234239485</td>
                                <td>02.02.1978</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>234239485</td>
                                <td>02.02.1978</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>{{name}}</td>
                                <td>{{surname}}</td>
                                <td>{{phone}}</td>
                                <td>{{bday}}</td>
                                <td>{{basicInfo}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3 class="dark-grey">Birtday soon</h3>
                    <table class="table table-striped table-condensed" ng-controller="ContactAppController">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Phone</th>
                                <th>Birth day</th>
                                <th>Basic info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>234239485</td>
                                <td>02.02.1978</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>Mary</td>
                                <td>Moe</td>
                                <td>234923894</td>
                                <td>02.02.1978</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>234239485</td>
                                <td>02.02.1978</td>
                                <td>lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>July</td>
                                <td>Dooley</td>
                                <td>230942394</td>
                                <td>02.02.1978</td>
                                <td>lorem ipsum</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </section>
    </div>

</body>

</html>
